@{
    ViewData["Title"] = "Bludiště";
}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bludiště</title>
    <link rel="stylesheet" type="text/css" href="~/css/selectorStyle.css">
    <script src="/js/p5js/p5.min.js"></script>
    <script src="/js/p5js/quicksettings.js"></script>
    <script defer src="~/js/sketch.js"></script>
    <script defer src="~/js/aPlay.js"></script>
    <script defer src="~/js/someeAdsRemove.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="score">Pohyby: <span>0</span></div>
    <div class="message">Gratuluji, vyhrál si!</div>
    <div class="options">
        <a onclick="location.reload()"><img src="../../images/backward.png" class="buttons" style="width: 80px;height: 80px;"></img></a>
        <a onclick="location.href = '@Url.Action("MazeSelector","Home")'"><img src="../../images/arrow.png" class="buttons" style="width: 80px;height: 80px;"></img></a>
    </div>
    <button id="findPath" onclick="autoPlay()">Ukázat cestu</button>
</body>
</html>
