@{
    ViewData["Title"] = "Bludiště";
}
<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/mazeStyle.css">
    <script defer src="~/js/MazeScript.js"></script>
    <title>Bludiště</title>
</head>

<body>
    <div class="gameInfo">
        <div class="message">Gratuluji, vyhrál si!</div>
        <div class="options">
            <a onclick="location.reload()"><img src="../../images/backward.png" class="buttons" style="width: 80px;height: 80px;"></img></a>
            <a onclick="location.href = '@Url.Action("MazeSelector","Home")'"><img src="../../images/arrow.png" class="buttons" style="width: 80px;height: 80px;"></img></a>
        </div>
        <div class="score">Pohyby: <span>0</span></div>
        <!-- test pro API-->
        @*<button type="submit" onclick="SubmitScore()">Uložit skore</button>*@

    </div>
    <canvas id="canvas" width="1440" height="640" style="border: 8px solid #000"></canvas>
</body>

</html>