@{
    ViewData["Title"] = "Výběř bludiště";
}
<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bludiště</title>
    <link rel="stylesheet" href="~/css/selectorStyle.css">
    <script defer src="~/js/selectorScript.js"></script>
</head>

<body>
    <div class="main">
        <ul>
            <li><button value="1" onclick="selecting(this.value); location.href = '@Url.Action("Maze","Home")'" id="btn1">1</button></li>
            <li><button value="2" onclick="selecting(this.value); location.href = '@Url.Action("Maze","Home")'" id="btn2">2</button></li>
            <li><button value="3" onclick="selecting(this.value); location.href = '@Url.Action("Maze","Home")'" id="btn3">3</button></li>
        </ul>
        <p>Bludiště</p>
    </div>
</body>
</html>