@{
    ViewData["Title"] = "MemoryCreate";
}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="~/js/memoryCreateScript.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="~/css/memoryCreateStyle.css">
    <title>Document</title>
</head>

<body>
    <!-- *ZAČÁTEK -->
    <h1>Pexeso</h1>
    <hr />
    <div style="text-align:center">
        <p>Výběrem ze seznamu můžete načíst již vytvořené pexeso:</p>
        @Html.DropDownList("gameName", "Vyberte název")
    </div>
    <hr />
    <p>Zde můžete vytvořit vlastní pexeso</p>
    <p>Maximum je 12 párů, po zvolení je možné nahrávat obrázky .jpg,.png, při nahrání bude zobrazen náhled vybraného obrázku</p>
    <form id="form" enctype="multipart/form-data" onsubmit="CreateNew();return false">
        <div id="info">Počet pexes:</div>
        <input type="number" id="idname" value="" placeholder="počet" min="1" max="12" required>
        <input type="text" id="name" placeholder="název" required>
        <input id="btnNumber" type="submit" value="Vytvořit">
    </form>
</body>

</html>