
@{
    ViewData["Title"] = "MemoryCreate";
}

<h1>MemoryCreate</h1>

@*<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="MemoryCreate">
        <input type="file" name="imgFile" />
        <input type="submit" value="Vložit obrázek" />
        <hr />
        <h4>@ViewData["Message"]</h4>
    </form>*@

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-group">
        <div id="updatePanelFile" class="alert" role="alert" style="display:none"></div>
        <div class="form-group">
            <input type="file" id="file1"/>
        </div>
        <input id="btnPostFile" class="btn btn-default" type="button" value="Upload"/>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script>
    $(function() {
        $("#btnPostFile").click(function () {
            debugger;
            if ($("#file1").val() == '')
            {
                alert('Vyber soubor!');
            }
            var formData = new FormData();
            var file = $("#file1")[0];
            formData.append('file', file.files[0]);
            $.ajax({
                url: '/api/fileupload/upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                sucess: function (d) {
                    $("#updatePanelFile").addClass('alert-success').html('<strong>Sucess!<a href="' + d + '">Open file</a>').show();
                    $("#file1").val(null);
                },
                error: function () {
                    alert('Znovu!');
                }
            })
        })
    })
</script>