@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Pexeso";
}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <script src="~/js/someeAdsRemove.js"></script>
    <script src="~/js/memoryCreateScript.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="~/css/memoryCreateStyle.css">
    <title>Document</title>
</head>

<body>
    <!-- *ZAČÁTEK -->
    <h1>Pexeso</h1>
    <hr id="firstLine"/>
    <div style="text-align:center">
        <h3>Vyberte ze seznamu vytvořené pexeso:</h3>
        @Html.DropDownList("gameName", "Vyberte název")
    </div>
    <hr id="secondLine"/>
    @if (Context.Session.GetString("Role") == "pedagog")
    {
        <h3>Zde můžete vytvořit vlastní pexeso:</h3>
        <p class="infoP">Maximum je 12 párů, po kliknutí na "vytvořit" je možné nahrávat obrázky .jpg a .png</p>
        <p class="infoP">Při nahrání bude zobrazen náhled obrázku</p>
        <form id="form" enctype="multipart/form-data" onsubmit="CreateNew();return false">
            <h3 id="info">Počet pexes:</h3>
            <input type="number" id="idname" value="" placeholder="počet" min="1" max="12" style="margin-left: 10px" required>
            <input type="text" id="name" placeholder="název" style="margin-left: 10px" required>
            <input id="btnNumber" type="submit" value="Vytvořit" style="margin-left: 10px">
        </form>
    }
    @if (Context.Session.GetString("Role") == null)
    {
        <form id="form" enctype="multipart/form-data" onsubmit="CreateNew();return false">
            <h3 id="info">Zde bude náhled pexesa</h3>
            <input type="number" id="idname" value="" placeholder="počet" min="1" max="12" style="margin-left: 10px; display:none;" required>
            <input type="text" id="name" placeholder="název" style="margin-left: 10px;display:none;" required>
            <input id="btnNumber" type="submit" value="Vytvořit" style="margin-left: 10px;display:none;">
        </form>
    }
</body>

</html>