
@{
    ViewData["Title"] = "MemoryCreate";
}

<h1>MemoryCreate</h1>
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload for AJAX</h1>
    <input type="file" id="inpFile" multiple>
    <button id="btnUpload">Nahrát soubory</button>
</body>
</html>
<script>
    const inpFile = document.getElementById("inpFile");
    const btnUpload = document.getElementById("btnUpload");

    btnUpload.addEventListener("click", function () {
        const xhr = new XMLHttpRequest();
        const formData = new FormData();

        console.log(inpFile.files);

        for (const file of inpFile.files) {
            formData.append("files", file);
        }

        xhr.open("post", "/api/fileupload/upload")
        xhr.send(formData);
    });
</script>