@{
    ViewData["Title"] = "Výsledky";
    string[] tableHeaders = new string[] {
            "Jméno"
            ,"Pohyby"
            ,"Čas uložení"};
}
<!DOCTYPE html>
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<html lang="cs">

<head>
    <link rel="stylesheet" href="~/css/table.css">
</head>
<body>
    <div class="table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach (var head in tableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                        @*<th data-column="name" data-order="desc">
                            Jméno
                        </th>
                        <th data-column="score" data-order="desc">
                            Skóre
                        </th>
                        <th data-column="time" data-order="desc">
                            Čas uložení
                        </th>*@
                    }
                </tr>
            </thead>
            <tbody id="myTable">
                @{
                    if (Model != null)
                    {
                        foreach (var data in Model)
                        {
                            <tr>
                                <td>@data.UserName</td>
                                <td>@data.Moves</td>
                                <td>@data.DateTime</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
@*<script>
    $('th').on('click', function () {
        var column = $(this).data('column')
        var order = $(this).data('order')
        console.log('Řádek byl zmáčknut!', column, order)

        if (order == 'desc'){
            $(this).data('order', "asc")
            myArray = myArray.Sort((a, b) => a[column] > b[column] ? 1 : -1)
        } else{
            $(this).data('order', "desc")
            myArray = myArray.Sort((a, b) => a[column] < b[column] ? 1 : -1)
        }
        buildTable(myArray);
    })

    function buildSort(data) {
        var table = document.getElementById('myTable');

    }
</script>*@
