#settings{
    display: flex;
}
#settingsValues{
    margin: 10px 35px;
    width: 30px;
}
button,p,select{
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 25px;
}
#download{
    border-radius: 10px;
    background-color: rgb(75, 231, 96, 0.8);
}
#smallDraw {
    border-radius: 10px;
    background-color: rgb(75, 140, 231, 0.8);
}
#clear {
    border-radius: 10px;
    background-color: rgba(253, 45, 45, 0.9);
}
@media (max-width: 1600px) {
    #clear {
        margin-left: 40px !important;
    }
}
body {
    background-color: #b1d23b;
}
#my_canvas{
    display: block;
    margin: 0 auto;
    position: sticky;
}