body {
    background-color: #96262f;
}

#game-board{
    background: #ccc;
    border: black 2px solid;
    width: 1230px;
    height: 820px;
    padding: 10px;
    margin: 0 auto;
}
#game-board > div {
    background: turquoise;
    border: yellow 2px solid;
    width: 120px;
    height: 120px;
    float: left;
    margin: 15px;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#message{
    position: absolute;
    text-align: center;
    font-size: 100px;
    font-family:  Comic Sans MS;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #33cc33;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    -webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
#options{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,100%);
    display: none;
}
.buttons{
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.flash {
    -webkit-animation: flash linear 1s infinite; /*google chrome support web-kit*/
	animation: flash linear 1s infinite;
}
@keyframes flash {
	0% { 
        opacity: 1; 
    } 
	50% { 
        opacity: .5; 
    } 
	100% { 
        opacity: 1; 
    }
}
@-webkit-keyframes flash {
	0% {
        opacity: 1; 
    } 
	50% { 
        opacity: .5; 
    } 
	100% { 
        opacity: 1; 
    }
}

#game-board > div:active {
    transform: rotate(90deg);
}

@media (max-width: 1600px) {
    img {
        width: 120px !important;
        height: 120px !important;
    }
    .images {
        padding-left: 375px !important;
        padding-right: 285px !important;
    }
    #score, #bad-score {
        font-size: 30px !important;
    }
    #game-board {
        height: 745px !important;
    }
    #game-board > div {
         height: 120px !important;
         width: 120px !important;
    }
}
#info {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 30px;
    padding: 5px;
}
#bad-score, #score {
    display: inline-block;
}
