body {
    background-color: lightskyblue;
    padding: 0;
    margin: 0;
    font-family: Comic Sans MS;
    font-size: 20px;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
hr {
    border: 0;
    border-bottom: 5px solid #0ad5fa;
    width: 0;
    animation: separator-width 1s ease-out forwards;
}
@keyframes separator-width {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
p {
    font-size: 23px;
    font-weight: 300;
}
.infoP{
    font-size:18px;
}
#form{
    align-items: center;
    display: flex;  
    flex-wrap: wrap;
}
::-webkit-file-upload-button{
    color: white;
    background: #206a5d;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
}
::-webkit-file-upload-button:hover{
    background: #438a5e;
}
img{
    margin-top: 10px;
}
select {
    padding: 7px 40px 5px 5px;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}
/*option {
    width: auto;
}

select:required:invalid {
    color: #5a667f;
}

select option {
    color: #223254;
}

select option[value=""][disabled] {
    display: none;
}

select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}*/
option {
    font-size: 18px;
    background-color: #ffffff;
}

option:before {
    font-size: 20px;
    display: none;
    padding-right: 10px;
    padding-left: 5px;
    color: #fff;
}

option:hover:before {
    display: inline;
}


input {
    margin-bottom: 5px;
    line-height: 18px;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
    font-size: 24px;
}

input[type="file"] {
    border: none;
    z-index: -1;
    top: 6px;
    left: 0;
    font-size: 15px;
    color: rgb(135,206,250);
    display: none;
}
#btnUpload{
    display:block;
}

#btnAgain {
    text-align: center;
    width: 10%;
    margin-left: 45%;
    margin-right: 30%;
    margin-top: 100px;
    font-family: Comic Sans MS;
    align-items: center;
    background-color: #FF5A5A;
    background-position: 0 0;
    border: 1px solid #FF8080;
    border-radius: 7px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 12px;
    text-align: center;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
}
#btnAgain:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
}
#btnCreate {
    text-align: center;
    width: 10%;
    margin-left: 45%;
    margin-right: 30%;
    font-family: Comic Sans MS;
    align-items: center;
    background-color: #3AFF61;
    background-position: 0 0;
    border: 1px solid #61F27E;
    border-radius: 7px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 12px;
    text-align: center;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
}

#btnCreate:hover {
    background-color: #9FF6B0;
    border-color: #01FF34;
}


#btnUpload, #btnNumber {
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: Comic Sans MS;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

#btnUpload:hover,#btnNumber:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

div#block {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 125px;
}
