html, body {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans";
}

p {
    font-size: 14px;
}

h1 {
    text-align: center;
}

canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1
}

form {
    background-color: rgba(0, 0, 0, 0.486);
    padding: 10px;
    width: 550px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    position: relative;
    border-radius: 10px;
    text-align: center;
}

input[type=number]:focus {
    background-color: lightblue;
}

input[type=number] {
    height: 20px;
    border-radius: 7px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#findPath {
    margin: 0;
    position: absolute;
    top: 92%;
    left: 47vw;
    border: 3px solid #73AD21;
}
.score {
    text-align: center;
    padding-top: 20px;
}
.message {
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-family: Comic Sans MS;
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    background-color: #33cc33;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}

.options {
    position: relative;
    padding-top:100px;
    text-align:center;
    display: none;
}
.flash {
    -webkit-animation: flash linear 1s infinite; /*google chrome support web-kit*/
    animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}
