html, body {
    margin: 0;
    padding: 0;
    background-color: #fccec0;
}

p {
    font-size: 14px;
}

img{
    padding-top: 10px;
}
#canvasDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#name {
    font-size: 35px;
    font-family: "Comic Sans MS", "Comic Sans";
    text-align: center;
    color:white;
}
.score {
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans";
    padding-top:20px;
    text-align:center;
}
form {
    background-color: rgba(0, 0, 0, 0.486);
    /*padding: 10px;*/
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: auto;
    /*margin-top: 100px;*/
    /*position: relative;*/
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    left: 50%;
    top: 45%;
    position: absolute;
    transform: translate(-50%, -50%);
}

input[type=number]:focus {
    background-color: lightblue;
}

input[type=number] {
    height: 20px;
    border-radius: 7px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#findPath {
    margin: 0;
    position: absolute;
    top: 92%;
    left: 47vw;
    border: 3px solid #73AD21;
}
.score {
    text-align: center;
    padding-top: 20px;
}
.message {
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-family: Comic Sans MS;
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    background-color: #33cc33;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}

.options {
    position: absolute;
    padding-top: 100px;
    text-align: center;
    display: none;
    padding-left: 890px;
}
.flash {
    -webkit-animation: flash linear 1s infinite; /*google chrome support web-kit*/
    animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}
@media (max-width:500px){
    form {
        font-size: 17px !important;
        top: auto !important;
        left: auto !important;
        transform:none !important;
    }
}
.custom-file-upload {
    border: 1px solid #ccc;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Comic Sans MS", "Comic Sans";
    border-radius: 10px;
}
input[type="file"] {
    display: none;
}
.levels{
    display: inline-block;
    font-size:25px;
    margin:15px
}
.radio-custom-label{
    vertical-align:middle;
}
input[type="radio"]{
    margin-bottom:3px;
    margin-right:0px;
}
#radio-1{
    margin-left:0px;
}
.insideLevels{
    padding:5px;
}