a:hover {
    color: red;
    transition: all 0.3s ease 0s;
}
#profile:hover{
    color:white;
    transition:none;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

ul a {
    color: #fff;
    text-decoration: none;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-weight: bold;
}

li {
    padding-right: 10px;
}

nav > ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
}

.f-right {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 50px;
    list-style-type: none;
}

@media only screen and (max-width: 750px) {
    .f-right {
        padding-left: 0;
        margin-left: 0 !important;
    }
    nav > ul {
        margin-bottom: 8px;
        margin-top: 8px;
    }
}
@media (max-width: 830px) {
    .f-right {
        padding-left: 0;
        margin-left: 0;
    }
}